.App {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS";
}

.navbar-nav .nav-link {
  font-size: 17px;
}

/*Main page*/
.mainPage {
  display: flex;
  justify-content: center;
}

.postContainer {
  padding: 30px;
  margin: 30px;
  background-color: aliceblue;
  box-shadow: 2px 1px 8px black;
}

.post {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
  transition: 500ms;
}

.post:hover {
  transform: scale(1.1, 1.1);
}

.post p {
  margin-top: 20px;
  font-size: 20px;
}

.post h4 {
  font-size: 13px;
}

.wrapIndividualPost {
  display: flex;
  justify-content: center;
  align-items: center;
}

.individualPost {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

/*Create post*/

.createPost {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.uploadPost {
  font-family: "Trebuchet MS";
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.uploadPost input,
textarea {
  width: 80%;
  height: 30px;
  margin: 10px;
}

.uploadPost textarea {
  height: 100px;
}
